@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

@include mat.core();

$my-primary: mat.define-palette(mat.$cyan-palette, 700);
$my-accent: mat.define-palette(mat.$pink-palette, 600, 500, 700);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));

@include mat.all-component-themes($my-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h3 { font-family: Sora; }
.flag-option {
  .mat-option-text{
    display: flex;
    align-items: center;
    gap: 15px;
  }
}

.mat-form-field-infix.ng-tns-c78-0 {
  border-top: 0;
  padding-top: 10px;
  & mat-select-trigger {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.number-field {
  width: 250px;
  &.mat-form-field-appearance-fill .mat-form-field-flex{
    height: 50px;
    border-radius: 0 4px 0 0;
  }
}

.country-field {
  width: 105px;
  &.mat-form-field-appearance-fill .mat-form-field-flex{
    height: 50px;
    border-right: 0.5px solid #6F6F6F;
    border-radius: 4px 0 0 0;
  }
}

.my-custom-snackbar-valid {
  background-color: #CDDC39;
  &.mat-snack-bar-container{
    min-width: 100px;
    color: #313131;
    margin-bottom: 50px;
  }
}

.my-custom-snackbar-invalid {
  background-color: #D81B60;
  &.mat-snack-bar-container{
    min-width: 100px;
    color: #fff;
    margin-bottom: 50px;
  }
}
